[package]
name = "penrose"
version = "0.2.0"
edition = "2018"
authors = ["sminez <innes.andersonmorrison@gmail.com>"]
license = "MIT"
repository = "https://github.com/sminez/penrose"
documentation = "https://docs.rs/penrose"
readme = "README.md"
description = """
A tiling window manager library/WM for X11 in the style of dwm and Xmonad.
"""

[features]
default = ["draw", "xcb_layer"]
draw = ["cairo-rs", "cairo-sys-rs", "pango", "pangocairo"]
xcb_layer = ["xcb"]

[dependencies]
log = "0.4.8"
nix = "0.17.0"
strum = { version = "0.19.2", features = ["derive"] }
strum_macros = "0.19.2"
thiserror = "1.0"

cairo-rs = { version = "0.9.1", features = ["xcb"], optional = true }
cairo-sys-rs = { version = "0.10.0", optional = true }
pangocairo = { version = "0.10.0", optional = true }
pango = { version = "0.9.1", optional = true }
xcb = { version = "0.9.0", features = ["randr"], optional = true }

[dev-dependencies]
simplelog = "0.8.0"
test-case = "1.0.0"
