name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install XCB deps
      run: sudo apt-get install -y libxrandr-dev xcb
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
